

.imagenLogo{
  width: 300px;
  height: 250px;
  display: block;
  margin: auto;
  margin-top: -50px;
  margin-bottom: -50px;
}

.caja{
  background-color: transparent;
  border-color: white;
  color: white;
}

.caja::placeholder{
  color: white;
  font-weight: bold;
}


