
<div class="row" style="margin-top:50%">
  <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-12 col-md-offset-12 divLogin">
    <form role="form">
      <fieldset>
        <img class="imagenLogo" src="../../../assets/images/logoVector.svg">
        <div class="form-group">
          <input type="email" id="email" class="form-control input-lg caja" name="email" [(ngModel)]= "email" required placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" id="password" class="form-control input-lg caja" name="password" [(ngModel)]= "password" required placeholder="Contraseña">
        </div>
        <hr style="background-color: white">
        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-2"></div>
          <div class="col-xs-8 col-sm-8 col-md-8">
            <input type="button" class="btn btn-lg btn-iniciar btn-block" value="Iniciar Sesión" id="btn-login" (click)="login()">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
