<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
  <img class="imagenLogo" src="../../../assets/images/logoVector.svg">

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item" ><a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><em class="fa fa-flag-checkered"></em> Carreras <span class="sr-only"></span></a></li>
  </ul>

  <a class="logout-button" style="color: white" (click)="logout()"><em class="fa fa-power-off"></em> Salir</a></nav>

<header class="page-header row justify-center">
  <div class="col-md-2 col-lg-2">
    <h1 class="float-left text-center text-md-left">Mx</h1>
  </div>

  <div class="dropdown user-dropdown col-md-8 col-lg-10 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="../../../assets/images/man.svg" alt="profile photo" class="circle float-left profile-photo" width="50" height="auto">

    <div class="username mt-1">
      <h4 id="usuario" class="mb-1">{{nombre}} {{apellidos}}</h4>

      <h6 class="text-muted" id="clase">Administrador</h6>
    </div>
  </a>

  <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#"><em class="fa fa-power-off mr-1"></em> Logout</a></div>
  </div>

  <div class="clear"></div>
</header>
