.material-icons.md-12 { font-size: 12px; margin-right: 5px; }
.material-icons.md-14 { font-size: 14px;  margin-right: 7px;}
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px;}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

h1, h4 {
  color: white;
  font-family: Poppins;
}

.imagenLogo{
  width: 250px;
  height: 150px;
  display: block;
  margin: auto;
}
