body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}

#body-mx {
  background: -moz-linear-gradient(135deg, rgba(42,82,152,1) 0%, rgba(30,60,114,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(30,60,114,1)), color-stop(100%, rgba(42,82,152,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(135deg, rgba(42,82,152,1) 0%, rgba(30,60,114,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(135deg, rgba(42,82,152,1) 0%, rgba(30,60,114,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(135deg, rgba(42,82,152,1) 0%, rgba(30,60,114,1) 100%); /* ie10+ */
  background: linear-gradient(315deg, rgba(42,82,152,1) 0%, rgba(30,60,114,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e3c72', endColorstr='#2a5298',GradientType=1 );
 }

.row{
  margin: 0 auto;
  padding-left: 3%;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/fonts/Poppins-SemiBold.otf);
}

h2 {
  color: white;
  font-size: 3em;
  font-family: Poppins;
}

.divLogin {
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top: 50%;
  left: 40%;
  /*determinamos una anchura*/
  width: 435px;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left: -217.5px;
  /*determinamos una altura*/
  height: 300px;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top: -150px;
}

.btn-iniciar{
  border-radius: 15px;
  background-color: #C8414B;
  border-color: #454545;
  color: white;
  transition: all 0.3s ease;
}

.btn-recordar {
  font-family: "Arial";
  border-radius: 5px;
  background-color: transparent;
  border-color: white;
  color: white;
  transition: all 0.3s ease;
}

.btn-iniciar:hover,
.btn-registrar:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #333;
}

.btn-nochecked {
  background-color: rgba(215, 40, 40, 0.1);
  color: white;
  transition: all 0.3s ease;
}

.btn-nochecked:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.divRegister {
  position: absolute;
  /*nos posicionamos en el centro del navegador*/
  top: 50%;
  left: 50%;
  /*determinamos una anchura*/
  width: 435px;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left: -217.5px;
  /*determinamos una altura*/
  height: 340px;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top: -170px;
}

.btn-registrar {
  border-radius: 7px;
  background-color: #24305e;
  color: white;
  transition: all 0.3s ease;
}

.btn-registrar:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #333;
}

