@font-face {
  font-family: "Celebrations";
  src: url(../../assets/fonts/Enchanting-Celebrations.ttf);
}

.sidebar .site-title {
  font-family: Poppins;
  text-transform: none;
  font-size: 1.7em;
}

.tamañoImagen{
  width: 115px;
  height: 100px;
  float: left;
  margin-left: -10%;
}

.btn {
  border-radius: 0em;
}

.logout-button{
  cursor: pointer;
  color: white;
}

.logout-button:hover{
  color: white;
}

.numAportaciones {
  text-align: center;
}

.num {
  font-size: 2em;
}

.card-header {
  font-size: 1.7em;
  text-align: center;
}

.btn-unido {
  background-color: #933936 !important;
  border-color: #933936 !important;
}
