.material-icons.md-12 { font-size: 12px; margin-right: 5px; }
.material-icons.md-14 { font-size: 14px;  margin-right: 7px;}
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px;}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.tarjetas{
  margin-top: 2%;
}

.botonAñadir{
  margin-top: 1%;
  float: right;
}

.btn-unir{
  background-color: transparent;
  color: white;
  border-color: white;
}

.fecha_tarjeta{
  font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
