<app-header-page></app-header-page>



<section class="row">


  <div class="botonAñadir col-lg-12">
    <section class="row">
      <div class="col-lg-4 mb-4 tarjetas">
        <button type="button" class="btn btn-sm btn-unir" (click)="mostrarModal(modalAgregarCarrera, carreraSelected)">Añadir Carrera</button>
      </div>
    </section>
  </div>


  <div class="col-sm-12">
    <section class="row" id="listadoCarreras">
      <div class="col-lg-4 mb-4 tarjetas" *ngFor="let carrera of listaCarreras">
        <div class="card card-inverse card-primary">
          <div class="card card-inverse card-primary">
            <div class="card-header nombre-campanya" id="{{carrera._id}}">
              {{carrera.nombre_circuito}}
              <p class="fecha_tarjeta">{{carrera.nombre_lugar}}</p>
            </div>
            <button type="button" class="btn btn-sm btn-primary btn-unir" (click)="mostrarModal(modalEditarCarrera, carrera)"><em class="fa fa-pencil"></em> Editar</button>
            <button type="button" class="btn btn-sm btn-primary btn-unir" (click)="borrarCarrera(carrera._id)"><em class="fa fa-trash"></em> Eliminar</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>


<ng-template #modalAgregarCarrera let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Agregar una carrera</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nombre_lugar" class="col-form-label">Introduzca el nombre del lugar</label>
        <input type="text" class="form-control" id="nombre_lugar" name="nombre_lugar" [(ngModel)]="nombre_lugar" />
      </div>
      <div class="form-group">
        <label for="nombre_circuito" class="col-form-label">Introduzca el nombre del circuito</label>
        <input type="text" class="form-control" id="nombre_circuito" name="nombre_circuito" [(ngModel)]="nombre_circuito" />
      </div>
      <div class="form-group">
        <label for="direccion" class="col-form-label">Introduzca la dirección</label>
        <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccion" />
      </div>
      <div class="form-group">
        <label for="fecha" class="col-form-label">Introduzca la fecha</label>
        <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha" />
      </div>
      <div class="form-group">
        <label for="web" class="col-form-label">Introduzca la web</label>
        <input type="text" class="form-control" id="web" name="web" [(ngModel)]="web" />
      </div>
      <div class="form-group">
        <label for="telefono" class="col-form-label">Introduzca el teléfono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono" />
      </div>
      <div class="form-group">
        <label for="pais" class="col-form-label">Introduzca la URL de la foto del pais</label>
        <input type="text" class="form-control" id="pais" name="pais" [(ngModel)]="pais" />
      </div>
      <div class="form-group">
        <label for="foto_carrera" class="col-form-label">Introduzca la URL de la foto de la carrera</label>
        <input type="text" class="form-control" id="foto_carrera" name="foto_carrera" [(ngModel)]="foto_carrera" />
      </div>
      <div class="form-group">
        <label for="url_entrada" class="col-form-label">Introduzca la URL de la entrada</label>
        <input type="text" class="form-control" id="url_entrada" name="url_entrada" [(ngModel)]="url_entrada" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="agregarCarrera(modalAgregarCarrera)">Añadir</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>


<ng-template #modalEditarCarrera let-c="close">
  <div class="modal-header">
    <h4 class="modal-title"> Editar Carrera</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nombre_circuito_edit" name="nombre_circuito_edit" class="col-form-label">Nombre del circuito nuevo</label>
        <input class="form-control" type="text" id="nombre_circuito_edit" name="nombre_circuito_edit" [(ngModel)]="carreraSelected.nombre_circuito">
      </div>
      <div class="form-group">
        <label for="nombre_lugar_edit" name="nombre_lugar_edit" class="col-form-label">Nombre del lugar nuevo</label>
        <input class="form-control" type="text" id="nombre_lugar_edit" name="nombre_lugar_edit" [(ngModel)]="carreraSelected.nombre_lugar">
      </div>
      <div class="form-group">
        <label for="direccion_edit" name="direccion_edit" class="col-form-label">Dirección nueva</label>
        <input class="form-control" type="text" id="direccion_edit" name="direccion_edit" [(ngModel)]="carreraSelected.direccion">
      </div>
      <div class="form-group">
        <label for="fecha_edit" name="fecha_edit" class="col-form-label">Fecha nueva</label>
        <input class="form-control" type="date" id="fecha_edit" name="fecha_edit" [(ngModel)]="carreraSelected.fecha">
      </div>
      <div class="form-group">
        <label for="web_edit" name="web_edit" class="col-form-label">URL de la web nueva</label>
        <input class="form-control" type="text" id="web_edit" name="web_edit" [(ngModel)]="carreraSelected.web">
      </div>
      <div class="form-group">
        <label for="telefono_edit" name="telefono_edit" class="col-form-label">Teléfono nuevo</label>
        <input class="form-control" type="text" id="telefono_edit" name="telefono_edit" [(ngModel)]="carreraSelected.telefono">
      </div>
      <div class="form-group">
        <label for="pais_edit" name="pais_edit" class="col-form-label">URL de la foto del país nueva</label>
        <input class="form-control" type="text" id="pais_edit" name="pais_edit" [(ngModel)]="carreraSelected.pais">
      </div>
      <div class="form-group">
        <label for="foto_carrera_edit" name="foto_carrera_edit" class="col-form-label">URL de la foto de la carrera nueva</label>
        <input class="form-control" type="text" id="foto_carrera_edit" name="foto_carrera_edit" [(ngModel)]="carreraSelected.foto_carrera">
      </div>
      <div class="form-group">
        <label for="url_entrada_edit" name="url_entrada_edit" class="col-form-label">URL de la entrada nueva</label>
        <input class="form-control" type="text" id="url_entrada_edit" name="url_entrada_edit" [(ngModel)]="carreraSelected.url_entrada">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="editarCarrera(modalEditarCarrera)">Editar</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

